<section
  class="bg-banner mt-32 flex h-screen items-end justify-center bg-cover bg-center"
>
  <button class="mb-32 bg-primary px-8 py-4 font-burbank text-5xl">
    MÁS INFORMACIÓN
  </button>
</section>

<style>
  .bg-banner {
    background-image: url("/assets/images/bg-banner.png");
  }
</style>
