---
import Card from "./Card.astro";
---

<img
  class="w-full object-cover [height:_calc(100vh_-_56px)]"
  src="/assets/images/main-bg.jpg"
  alt="Hero of fivenite"
/>

<div>
  <Card
    title="LA CACERÍA HA COMENZADO"
    body="EL PUNTO CERO ESTÁ EXPUESTO, PERO NADIE ESCAPARÁ DEL BUCLE. NO SI PODÉIS IMPEDIRLO. UNÍOS AL AGENTE JONES Y A LOS GRANDES CAZADORES DE TODAS LAS REALIDADES, COMO EL MANDALORIANO, EN UNA CAÓTICA BATALLA QUE DETERMINARÁ EL FUTURO DE LA ISLA."
    img="/assets/images/image-1.png"
    altImg="Jhonessy and Friends"
    mt={"-mt-14"}
  />
</div>
